<html>
    <head>
        <title>Resume Builder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
        <link href='https://fonts.googleapis.com/css?family=DM Serif Display' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    </head>
    <body>
        <div class="header_div"></div>
        <div class="split_container">
            <div class="col-1">
                <h1>Job Description</h1>
                <div class="job_div">
                    <textarea id="job_description" name="jobDesc"></textarea>
                </div>
                <h1>Experiences</h1>
                <div class="upload_div">
                    <input type="file" id="file_input" class="file_upload" accept=".txt">
                </div>
            </div>
            <div class="col-2">
              <h1>Templates</h1>
              <img src="https://www.latextemplates.com/actions/action_fetch_template_image?image=1&template=developer-cv" alt="template 1">
              <img src="https://www.latextemplates.com/actions/action_fetch_template_image?image=1&template=stylish-cv" alt="template 2">
              <img src="https://www.latextemplates.com/actions/action_fetch_template_image?image=1&template=freeman-cv" alt="template 3">
              <img src="https://www.latextemplates.com/actions/action_fetch_template_image?image=1&template=awesome-resume-cv" alt="template 4">
            </div>
        </div>
        <!-- <p>Hello Resume Builders {{data}}</p> -->
    </body>
</html>