* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Serif Display';
    background-color: #e9abb1;
  }

.header_div {
    background-color: #1a364e;
    height: 4em;
    width: auto;
}

.split_container {
    display: flex;
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 1;
}

.job_div {
    margin: auto;
    margin-top: 0.5em;
    width: 85%;
    height: 20em;
    background-color: #cb808b;
    border-radius: 10px;
}

#job_description {
    height: 100%;
    width: 100%;
    opacity: 1;
    border: 0;
    background: transparent;
    padding: 1em;
    text-align: left;
    box-sizing: border-box;
}

textarea {
    resize: none;
    font-family: 'Comfortaa';
}

.col-1 h1 {
    padding-top: 1em;
    margin: auto;
    width: 85%;
}

.upload_div {
    /* margin: auto; */
    margin-left: 7.5%;
    margin-top: 0.5em;
    width: 30%;
    height: 3em;
    background-color: #cb808b;
    border-radius: 10px;
}