* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Serif Display';
    background-color: #e9abb1;
  }

.header_div {
    background-color: #1a364e;
    height: 4em;
    width: auto;
}

.split_container {
    display: flex;
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 1;
}

.job_div {
    margin: auto;
    margin-top: 0.5em;
    width: 85%;
    height: 20em;
    background-color: #cb808b;
    border-radius: 10px;
}

#job_description {
    height: 100%;
    width: 100%;
    opacity: 1;
    border: 0;
    background: transparent;
    padding: 1em;
    text-align: left;
    box-sizing: border-box;
}

textarea {
    resize: none;
    font-family: 'Comfortaa';
}

.col-1 h1 {
    padding-top: 1em;
    margin: auto;
    width: 85%;
}

.upload_div {
    /* margin: auto; */
    margin-left: 7.5%;
    margin-top: 0.5em;
    width: 30%;
    height: 3em;
    background-color: #cb808b;
    border-radius: 10px;
}

.file_upload {
    height: 100%;
    width: 100%;
    opacity: 1;
    border: 0;
    background: transparent;
    padding: 1em;
    text-align: left;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}

.file_upload::-webkit-file-upload-button{
    background: transparent;
    color: #1A364E;
    padding: 5px 8px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
}

.col-2 h1 {
    padding-top: 1em;
    margin: auto;
    width: 85%;
}

.col-2 img {
    margin-top: 0.5em;
    margin-left: 7.5%;
    max-height: 20em;
    border-radius: 25px;
    /* outline: 2px solid #1a364e; */
    transition: transform .2s;
}

.col-2 img:hover {
    outline: 2px solid #1a364e;
    transform: scale(1.1);
}

input[type="radio"] {
    width: 0;
    height: 0;
}

input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #1a364e;
}

.download_div {
    /* margin: auto; */
    margin-left: 7.5%;
    margin-top: 0.5em;
    width: 30%;
    height: 3em;
    background-color: #cb808b;
    border-radius: 10px;
}

.download_button {
    height: 100%;
    width: 100%;
    opacity: 1;
    border: 0;
    background: transparent;
    padding: 1em;
    text-align: left;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}